<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets"
	id="http://pablo.gallegofalcon.com/dose" version="1.0.0" viewmodes="maximized">
	<tizen:application id="j1MRa8u8J0.Dosis" package="j1MRa8u8J0"
		required_version="2.3.1" />
	<content src="index.html" />
	<feature name="http://tizen.org/feature/screen.size.all" />
	<icon src="icon.png" />
	<name>Dose</name>
	<name xml:lang="es-es">Dosis</name>
	<tizen:profile name="wearable" />
</widget>
